.footer{
    background: linear-gradient(227.07deg, #4E0062 0.43%, #220076 99.56%);


    &__inner{


        &---list{
            padding-bottom: 100px;
            border-bottom: 1px solid  #BCBCBC;

        }
    }
}